<div class="row">
  <div class="header-closed">
    <span style="--i:1;">[</span>
    <span style="--i:1;">P</span>
    <span style="--i:2;">L</span>
    <span style="--i:3;">E</span>
    <span style="--i:4;">A</span>
    <span style="--i:5;">S</span>
    <span style="--i:6;">E</span>
    <span style="--i:6;"> </span>
    <span style="--i:7;">N</span>
    <span style="--i:8;">O</span>
    <span style="--i:9;">T</span>
    <span style="--i:10;">E</span>
    <span style="--i:11;">:</span>
    <span style="--i:11;"> </span>
    <span style="--i:12;">B</span>
    <span style="--i:13;">o</span>
    <span style="--i:14;">n</span>
    <span style="--i:15;">z</span>
    <span style="--i:16;">o</span>
    <span style="--i:17;">l</span>
    <span style="--i:18;">a</span>
    <span style="--i:19;">n</span>
    <span style="--i:20;">d</span>
    <span style="--i:20;"> </span>
    <span style="--i:21;">T</span>
    <span style="--i:22;">h</span>
    <span style="--i:23;">e</span>
    <span style="--i:24;">m</span>
    <span style="--i:25;">e</span>
    <span style="--i:25;"> </span>
    <span style="--i:26;">P</span>
    <span style="--i:27;">a</span>
    <span style="--i:28;">r</span>
    <span style="--i:29;">k</span>
    <span style="--i:29;"> </span>
    <span style="--i:30;">h</span>
    <span style="--i:31;">a</span>
    <span style="--i:32;">s</span>
    <span style="--i:32;"> </span>
    <span style="--i:33;">c</span>
    <span style="--i:34;">u</span>
    <span style="--i:35;">r</span>
    <span style="--i:36;">r</span>
    <span style="--i:37;">e</span>
    <span style="--i:38;">n</span>
    <span style="--i:39;">t</span>
    <span style="--i:40;">l</span>
    <span style="--i:41;">y</span>
    <span style="--i:41;"> </span>
    <span style="--i:42;">c</span>
    <span style="--i:43;">e</span>
    <span style="--i:44;">a</span>
    <span style="--i:45;">s</span>
    <span style="--i:46;">e</span>
    <span style="--i:47;">d</span>
    <span style="--i:47;"> </span>
    <span style="--i:48;">o</span>
    <span style="--i:49;">p</span>
    <span style="--i:50;">e</span>
    <span style="--i:51;">r</span>
    <span style="--i:52;">a</span>
    <span style="--i:53;">t</span>
    <span style="--i:54;">i</span>
    <span style="--i:55;">o</span>
    <span style="--i:56;">n</span>
    <span style="--i:57;">s</span>
    <span style="--i:58;">.</span>
    <span style="--i:58;">]</span>
  </div>
</div>
