<div class="row nav">
  <div class="col-sm text-center nav-link">
    <a class="nav-link homepage" href="index.html"><img src="/assets/pictures/BonzoHome.png" alt="Homepage" /></a>
  </div>
  <div class="col-sm text-center">
    <a class="nav-link" href="contact.html"><img src="/assets/pictures/BonzoContact.png" alt="Contact" /></a>
  </div>
  <div class="col-sm text-center">
    <a class="nav-link" href="careers.html"><img src="/assets/pictures/BonzoCareers.png" alt="Careers" /></a>
  </div>
  <div class="col-sm text-center">
    <a class="nav-link" href="legals.html"><img src="/assets/pictures/BonzoLegals.png" alt="Legals" /></a>
  </div>
</div>
