<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <title></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/css.css">
  <script src="/assets/js/jq.js"></script>
  <script src="/assets/js/glitch.js"></script>
  <meta http-equiv="refresh" content="61" >
</head>
<body>
  <div class="container">
    <div class="glitch-background">
      {{ content }}
      {% include audio.html %}
    </div>
  </div>
  <script src="/assets/js/bg.js"></script>
</body>
</html>
