<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Bonzoland: It's Bonzo Time!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>
<body>
  <div class="container-fluid">
    <header>
      <div class="row">
        <div class="col-sm-12 mx-auto" style="text-align: center;">
          <a href="/index.html"><img src="/assets/pictures/03:00;03:00;03:00;03:00;03:00;03:00;03:00;03:00.png" alt="Bonzoland Logo" class="img-fluid" width="100%"></a>
        </div>
      </div>
    </header>

    <nav>
      {% include navigation.html %}
    </nav>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>
