<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <title>Unexpected Disruption</title>
</head>
  <main class="container-fluid">
    <h1>O.I.A.R. Website Error: Unexpected Disruption</h1>
    <p>
      We apologise for the inconvenience, but the O.I.A.R. website is currently experiencing an unforeseen issue. This may be caused by an unanticipated surge in web traffic or a temporary disruption in our server connection.
    </p>
    <p>
      As an organisation committed to maintaining the smooth flow of operations, we understand the importance of reliability and accessibility. We are actively working to resolve this issue and restore normal service as quickly as possible.
    </p>
    <p>
      In the mean time, please refrain from refreshing the page repeatedly, as it may lead to additional server load. If you need to make a critical enquiry or report an urgent incident, please refer to the alternative communication channels provided.
    </p>
    <p>
      Our latest updates from the I.T. team estimate the issue will be resolved in <span id="random-number">-1234</span> minutes.<br/>
      Thank you for your patience and co-operation during this time.
    </p>
    <p>
      Realise, Report and Respond with the O.I.A.R.
    </p>
    <p>
      The O.I.A.R. Team
    </p>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="/assets/js/script.js"></script>
</body>
</html>
