<hr />
<legend>{{ include.legend }}</legend>
<div class="row" style="min-height: 15px;">
  <div class="col-sm">
    <input type="radio" id="air-{{ include.row }}" value="air" name="{{ include.row }}">
    <label for="air-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="alkali-{{ include.row }}" value="alkali" name="{{ include.row }}">
    <label for="alkali-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="ashes-{{ include.row }}" value="ashes" name="{{ include.row }}">
    <label for="ashes-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="cinnabar-{{ include.row }}" value="cinnabar" name="{{ include.row }}">
    <label for="cinnabar-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="copper-{{ include.row }}" value="copper" name="{{ include.row }}">
    <label for="copper-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="day-night-{{ include.row }}" value="day-night" name="{{ include.row }}">
    <label for="day-night-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="earth-{{ include.row }}" value="earth" name="{{ include.row }}">
    <label for="earth-{{ include.row }}">
    </label>
  </div>
</div>
<div class="row" style="min-height: 15px;">
  <div class="col-sm">
    <input type="radio" id="fire-{{ include.row }}" value="fire" name="{{ include.row }}">
    <label for="fire-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="gold-{{ include.row }}" value="gold" name="{{ include.row }}">
    <label for="gold-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="iron-{{ include.row }}" value="iron" name="{{ include.row }}">
    <label for="iron-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="jupiter-{{ include.row }}" value="jupiter" name="{{ include.row }}">
    <label for="jupiter-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="lead-{{ include.row }}" value="lead" name="{{ include.row }}">
    <label for="lead-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="mercury-{{ include.row }}" value="mercury" name="{{ include.row }}">
    <label for="mercury-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="oxygen-{{ include.row }}" value="oxygen" name="{{ include.row }}">
    <label for="oxygen-{{ include.row }}">
    </label>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <input type="radio" id="phlogiston-{{ include.row }}" value="phlogiston" name="{{ include.row }}">
    <label for="phlogiston-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="platinum-{{ include.row }}" value="platinum" name="{{ include.row }}">
    <label for="platinum-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="realgar-{{ include.row }}" value="realgar" name="{{ include.row }}">
    <label for="realgar-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="salt-{{ include.row }}" value="salt" name="{{ include.row }}">
    <label for="salt-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="sulphur-{{ include.row }}" value="sulphur" name="{{ include.row }}">
    <label for="sulphur-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm">
    <input type="radio" id="tin-{{ include.row }}" value="tin" name="{{ include.row }}">
    <label for="tin-{{ include.row }}">
    </label>
  </div>
  <div class="col-sm" style="visibility: hidden;">
    <input type="radio" id="default-{{ include.row }}" value="none" name="{{ include.row }}" checked>
  </div>
</div>
